Repository shipdocs/smart-memory-mcp-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: core, extension, documentation, github-actions, dependencies, tests, scripts, proto, storage, service, ui, config

.github/labeler.yml:

# Configuration for the GitHub Actions labeler
# See: https://github.com/actions/labeler

# Add 'core' label to any changes in the core directory
core:
  - core/**/*

# Add 'extension' label to any changes in the extension directory
extension:
  - extension/**/*

# Add 'documentation' label to any changes in the docs directory or markdown files
documentation:
  - docs/**/*
  - '**/*.md'
  - LICENSE*

# Add 'github-actions' label to any changes in the .github directory
github-actions:
  - .github/**/*

# Add 'dependencies' label to any changes in package.json, Cargo.toml, or lock files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/Cargo.toml'
  - '**/Cargo.lock'

# Add 'tests' label to any changes in test files
tests:
  - '**/*test*/**/*'
  - '**/*.test.*'
  - '**/*.spec.*'

# Add 'scripts' label to any changes in the scripts directory
scripts:
  - scripts/**/*

# Add 'proto' label to any changes in the proto directory
proto:
  - proto/**/*
  - '**/proto/**/*'

# Add 'storage' label to any changes in the storage module
storage:
  - core/src/storage/**/*

# Add 'service' label to any changes in the service module
service:
  - core/src/service/**/*

# Add 'ui' label to any changes in the views directory
ui:
  - extension/src/views/**/*

# Add 'config' label to any changes in configuration files
config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.toml'
  - .github/labeler.yml
  - .github/workflows/*.yml

# Add 'bug' label to any PR with 'bug' or 'fix' in the title
bug:
  - head-branch: ['*bug*', '*fix*']

# Add 'enhancement' label to any PR with 'feature' or 'enhancement' in the title
enhancement:
  - head-branch: ['*feature*', '*enhancement*']

Fix CI workflow artifact handling
  .github/workflows/ci.yml
Labels: github-actions, config

Fix artifact handling in CI workflow
  .github/workflows/ci.yml
Labels: github-actions, config

Fix artifact paths and directory creation in CI workflow
  .github/workflows/ci.yml
Labels: github-actions, config

Clean up workflow files to avoid conflicts
  .github/workflows/ci-cd.yml
  .github/workflows/docs-ci.yml
  .github/workflows/extension-ci.yml
  .github/workflows/release.yml
  .github/workflows/rust-ci.yml
Labels: github-actions, config

Add package script for VSIX creation
  extension/package.json
Labels: extension, dependencies, config

Add vsce as dev dependency
  extension/package.json
Labels: extension, dependencies, config

Update to @vscode/vsce package
  extension/package.json
Labels: extension, dependencies, config

kjkj
  extension/package-lock.json
Labels: extension, dependencies, config

Fix logging macros, add missing crash recovery methods, enable gRPC reflection, and fix service memory store sharing
  core/Cargo.lock
  core/src/crash_recovery.rs
  core/src/main.rs
  core/src/service/memory_service.rs
  core/src/service/mod.rs
  core/src/storage/backup.rs
  core/src/version.rs
Labels: core, dependencies, storage, service

Add installation guide for VS Code extension
  extension/INSTALLATION.md
Labels: extension, documentation

Add comprehensive GitHub Actions CI workflow
  .github/workflows/ci.yml
Labels: github-actions, config

Add Rust formatting check and test result artifact upload to CI workflow
  .github/workflows/ci.yml
Labels: github-actions, config

Add detailed logging to backup restore and rotation methods for debugging test failures
  core/src/storage/backup.rs
Labels: core, storage

Update project
  core/Cargo.lock
  core/Cargo.toml
  core/build.rs
  core/src/crash_recovery.rs
  core/src/logging.rs
  core/src/main.rs
  core/src/parent_process_monitor.rs
  core/src/proto/smart_memory.bin
  core/src/proto/smart_memory.rs
  core/src/server_manager.rs
  core/src/service/health_service.rs
  core/src/service/memory_service.rs
  core/src/service/mod.rs
  core/src/storage/backup.rs
  core/src/storage/context/mod.rs
  core/src/storage/context/optimizer.rs
  core/src/storage/context/relevance.rs
  core/src/storage/db/mod.rs
  core/src/storage/db/repository.rs
  core/src/storage/db/schema.rs
  core/src/storage/memory.rs
  core/src/storage/memory_bank_config.rs
  core/src/storage/mod.rs
  core/src/storage/tokenizer.rs
  core/src/version.rs
Labels: core, dependencies, proto, storage, service, config

Add smart-memory-mcp-v2 submodule changes
  user-workspace/LICENSE
Labels: none

added extension build to the process
  README.md
  docs/README.md
  docs/building-vsix.md
Labels: documentation

Add VSIX build documentation and GitHub Actions workflow
  .github/workflows/ci-fix.yml
  .github/workflows/vsix-release.yml
  .gitmodules
  core/backup-fix.rs
  core/build-fix.rs
  core/logging-fix.rs
  core/version-fix.rs
  docs/building-vsix.md
Labels: core, documentation, github-actions, config
